@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,700;0,800;1,400;1,800&display=swap');

:root {
    --primary-color: #CC0C0C;
}

.hello {
    color:red;
}
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Nunito Sans', sans-serif;
}

.site-container {
    border: 15px solid #000;
}
.header {
    background: #fff;
    /* opacity: 1;
    transition: opacity 200ms 600ms ease-out; */
}
.header-inner {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 60px 0;
}
.header-nav {
    padding: 1px 15px;
    display: flex;
    flex-wrap: wrap;
}
#headerLeft{
    display: flex;
    text-align: left;
    justify-content: flex-start;
}
#headerCenter{
    display: flex;
    text-align: center;
    justify-content: center;
}
#headerRight{
    display: flex;
    text-align: right;
    justify-content: flex-end;
}
.header-nav > a {
    padding-right: 10px;
}

.content-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

#hero {
    background-color: blanchedalmond;
    padding: 40px 3% 60px;
    min-height: calc(70vh - 179px);
}
#hero-content {
    color:black;
    text-decoration: none;
    text-shadow: none;
}
#hero-scroll {
    position: absolute;
    bottom: 15px;
    left: 50%;
-webkit-transform: translateX(-50%);
transform: translateX(-50%);
text-align: center;
}

.main-content {
    font-size: 3rem;
    color: white;
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
    padding-bottom: 10px;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
    text-decoration: underline;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.main-content:hover {
    color:red;
}

section#menu.parallax {
    /* The image used */
    background-image: url("./assets/coffee.jpg");
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section#about.parallax {
    /* The image used */
    background-image: url("./assets/pie.jpg");
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Double R Diner 
Paddy's Irish Pub

*/