// @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,700;0,800;1,400;1,800&display=swap');

// $font-stack: 'Nunito Sans', sans-serif;
$font-stack: Calibri, sans-serif;
$primary-color: firebrick;
$primary-dark: #000;
$primary-light: #FAF9F6;
$secondary-light: rgb(168, 168, 168);


html {
    scroll-behavior: smooth;
}
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: $font-stack;
}

#content {
    border: 15px solid $primary-dark;
}
.header {
    background: $primary-light;
    /* opacity: 1;
    transition: opacity 200ms 600ms ease-out; */
}
.header-inner {
    display: flex;
    justify-content:  space-between;
    align-items: center;
    text-align: center;
    gap: 8px;
    padding: 60px 0;
}
.header-nav {
    padding: 1px 15px;
    display: flex;
    flex-wrap: wrap;
}
@mixin headerAlign($align: left) {
    display: flex;
    text-align: $align;
}
#headerLeft{
    @include headerAlign;
    justify-content: flex-start;
}
#headerCenter{
    @include headerAlign($align: center);
    justify-content: center;
}
#headerRight{
    @include headerAlign($align: right);
    justify-content: flex-end;
}
.header-nav > a {
    font-size: .9rem;
    padding-right: 10px;
    text-decoration: none;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.header-nav > a:link {
    color: #000;
}
.header-nav > a:visited {
    color: rgb(56, 40, 40);
}
/* .header-nav > a:hover ~ #header-nav{
    color: #4f4f4f;
} */
/* 
div#header-nav1:hover #header-nav2,
div#header-nav1:hover #header-nav3 {
    color: #4f4f4f;
    color: white;
} */

.header-nav > a:active {
    font-size: 0.95rem;
}

#header-logo {
    width: 100px;
}
.content-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

#hero {
    /* background-color: blanchedalmond; */
    padding: 40px 3% 60px;
    min-height: calc(70vh - 179px);
}
#hero-content {
    color:black;
    text-decoration: none;
    text-shadow: none;
    text-transform: uppercase;
}
#hero-scroll {
    position: absolute;
    bottom: 15px;
    left: 50%;
-webkit-transform: translateX(-50%);
transform: translateX(-50%);
text-align: center;
}
#scroll-link {
    text-decoration: none;
}
#scroll-link:link {
    color: black;
}
#scroll-link:visited {
    color: black;
}
#scroll-arrow {
    width:24px;
    height:24px;
}
.main-content {
    font-size: 3rem;
    color: white;
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
    padding-bottom: 10px;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
    text-decoration: underline;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.main-content:hover {
    color:$primary-color;
}
%parallax-shared {
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
section#menu.parallax {
    @extend %parallax-shared;
    /* The image used */
    background-image: url("./assets/coffee.jpg");
}

section#about.parallax {
    @extend %parallax-shared;
    /* The image used */
    background-image: url("./assets/pie.jpg");
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    background-color: $primary-dark;
    color: $primary-light;
    padding: 60px 0;
}
.footer-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#form-header {
    text-align: center;
}
#form-sub-header {
    text-align: center;
    color: $secondary-light;
}
.form-grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4,1fr);
    padding-bottom: 30px;
}
#form-req-text {
    align-self: center;
}

.form-grid-unit {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}
.form-grid div > input,
.form-grid div > select {
    width: 200px;
    line-height: 1.5rem;
}